@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.card{
    background-color: var(--White);
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h2 {
    margin-top: 10;
    font-family: "Outfit", sans-serif;
    font-size: large;
    text-align: center;
}

.card p {
    margin-bottom: 0;
    font-size: 15px;
    opacity: 70%;
    text-align: center;
}